body{
    background-color: white;
}

.logo{
    margin: 0;
    background-color: red;
    width: 120px;
    height: 600;
}

img{
    width: 100px;
    margin: 5px;
    height: auto;
}

a{
    text-decoration: none;
}